:root{
    --white: #ffffff;
    --negro: black;
    --red: #de1313;
    --verde: rgb(17, 205, 17);
    --font: 'Poppins', sans-serif;
    --grisn: #1c1c1c;
}

*{
    font-family: var(--font);
}

table{
    margin-top: 5%;
}

thead{
    background-color: black;
    color: #ffffff;
}

.btn{
    margin: 3%;
}

.title{
    margin-top: 5%;
    text-align: center;
}

