.catalogo{
    left: 55.526px;
		top: 5.289px;
		position: absolute;
		overflow: visible;
		width: 143px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
}

.Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    box-sizing: border-box;
    height: 140px;
    transition: 0.4;
    background-color: #ffffff;  
    box-shadow: 5px 10px 18px #0a0a0a;
}

.Logo{
    position: absolute;
		width: 170px;
		height: 152px;
		left: 0px;
		top: 101px;
		overflow: visible;
}