@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
	--white: #ffffff;
    --negro: black;
    --red: #15dc15;
    --verde: rgb(17, 205, 17);
    --font: 'Poppins', sans-serif;
    --grisn: #1c1c1c;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
  outline: none;
  text-decoration: none;

}

a{
  text-decoration: none;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}


@media (max-width: 1080px){
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
}
.navegacion{
    z-index: 4;
}
.bienvenido{
  color: #000000;
  text-overflow: initial;
  font-size: 1.3rem;
  
}
@media (max-width:428px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: 1rem;
  }
}


@media (max-width:424px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: -1rem;
  }
}

@media (max-width:380px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: 0.5rem;
  }
}


header {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 5px 10px 18px #767676;
    position: fixed;
    width: 100%;
    background: #fff;
  }
  
  .logo {
    cursor: pointer;
    transition: all 0.3s;
  }

  .logotipo{
    height: 100px;
    width: auto;
  }
  
  @media (max-width: 480px){
    .logotipo{
      height: 90px;
    }
     
  
      }

      @media (max-width: 414px){
        .logotipo{
          height: 90px;
          margin-left: -15%;
        }
         
        .logo:hover{
          transform: none;
        }
      
        
    
      }

  @media (max-width: 375px){
    .logotipo{
      height: 80px;
      margin-left: -2rem;
    }
     
    .logo:hover{
      transform: none;
    }
  
  }
  
 
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: var(--font);
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    color: var(--negro);
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
    font-size: 26px;
    color: var(--negro);
  }
  
  .nav__links li a:hover {
    color: var(--red);
  }
  
  .cta {
    padding: 5px 19px;
    background-color: var(--red);
    border: none;
    border-radius: 50px;
    cursor: pointer;  
    font-size: 22px;
    transition: all 0.3s;
    margin-left: 2rem;
    color: var(--negro);
  }
  
  .cta:hover {
    background-color: var(--verde);
    color: var(--negro);
   /*  transform: scale(1.2);*/
  }
  
/* iconos menu*/
.carretilla{

		width: 30px;
		height: 40px;

}

.cotizacion{

		width: 30px;
		height: 40px;
		
}

  /* responsive nav */
  
  .menu {
    display: none;
    color: currentColor;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;

    left: 0;
    top: 0;
    background-color: var(--grisn);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
    color: currentColor;
    z-index: 4;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    text-transform: capitalize;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
    color: var(--white);
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: var(--red);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
    text-decoration: none;
  }

  .icono{
      font-weight: bold;
      font-size: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
 
 
/* footer */
.pie-pagina{
  width: 100%;
  background-color: #232f3a;
  margin-top: 58%;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  z-index: 1;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 300px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 0.9rem;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
  margin-left: 0.9rem;
}

.pie-pagina .grupo-1 .box button{
margin-bottom: 10px;
margin-left: 0.9rem;
background: #314258;
cursor: pointer;
border: none;
height: 2rem;
width: 10rem;
border-radius: 10px;
}

.pie-pagina .grupo-1 .box button a{
  color: var(--white);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button a:hover{
  color: var(--negro);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button:hover{
background: var(--white);
color: var(--negro);
}

.pie-pagina .grupo-1 .contactos a{
   display: inline-block; /* agrega un salto de linea */
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 2.8rem;
  margin-right: 2px;
  background-color: #314258;
  text-align: center;
  border-radius: 10%; 
  transition: all 300ms ease; /* efecto al pasar el mouse en el boton*/
  margin-left: 0.9rem;
}



.facebook{
color: var(--white);
}

.facebook:hover{
color: rgb(38, 141, 231);
}

.instagram{
color: var(--white);
}

.instagram:hover{
color: orangered;
}

.twitter{
color: var(--white);
}

.twitter:hover{
color: rgb(30, 152, 228);
}

.mail{
color: var(--white);
}

.mail:hover{
color: orange;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
  
  .pie-pagina{
    margin-top: 900%;
  }
}

@media (width:360px){
  .pie-pagina{
    margin-top: 950%
  }
}

@media (width: 1024px){
  .pie-pagina{
    margin-top: 150%;
  }
}

@media (width:1180px){
  .pie-pagina{
    margin-top: 140%;
  }
}

@media (width:1368px){
  .pie-pagina{
    margin-top: 120%;
  }
}

@media (width:1366px){
  .pie-pagina{
    margin-top: 120%;
  }
}

@media (width:1114px){
  .pie-pagina{
    margin-top: 140%;
  }
}

@media (width:1280px){
  .pie-pagina{
    margin-top: 120%;
  }
}


  /*Tarjetas*/

.productos{ /*Contenedor de los productos*/
    width: 100%;
    max-width: 1700px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    background-position: cover;
  }

  .productos img{
    width: 330px;
    height: 220px;
  }
  
  .producto{ /*tamaño del producto*/     
     background-color: rgb(255, 255, 255);;
     margin: 2rem;
     padding: 2rem;
     width: 25rem;
     max-width: 800px;
     display: flex;
     flex-flow: column;
     border-radius: 6px;
     box-shadow: 0 0 0.1em rgb(255, 0, 0);
     background-color: white;
     cursor: pointer;
     transition-property: box-shadow;
     transition-duration: 0.3s;
  }
  
  /*.producto{ 
     max-width: 280px;
     display: flex;
     flex-flow: column;
     border-radius: 6px;
     box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
     background-color: white;
     cursor: pointer;
     transition-property: box-shadow;
     transition-duration: 0.3s;
  }
  */
  
  .producto:hover{ /**/
     box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
  }
  
  .informacion{ /*estilo de la descripcion producto*/
     border-top: 1px solid rgb(230, 230, 230);
     padding: 1em;
     display: flex;
     flex-flow: column;
     margin-top: 0.5em;
  }
  
  .precio{ /*tamaño del precio*/
      font-size: 1.5em;
  }
  
  .precio-envio{ /*color de precio de envio*/
      color: red;
      text-transform: uppercase;
      font-size: 1.3rem;
  }
  
  .descripcion{
      font-weight: 300;
      font-size: 1.5rem;
      color: var(--negro);
  }

  .a{
    text-align: center;

  }

  
  
  .producto:hover{ 
      opacity: 1;
  }

  .title{
    text-align: center;
    margin-top: 3%;
  }

  
  body{
    top: 0 !important;
}
.google{
    margin-left: 70%;
    margin-top: -1.5%;
  }
  
  @media (max-width:480px){
    .google{
      margin-top: 1%;
      margin-left: 7%;
    }
  }
  
  .goog-te-banner-frame{
    display: none;
  }
  .goog-te-gadget-simple{
    background-color: #314258 !important;
    color: white !important;
   border: none !important;
    padding: 10px !important;
  }
  .goog-te-gadget-icon{
    display: none;
  }
  
  .goog-te-gadget-simple span{
    color: white !important;
  }
  #li-translate::marker{
    color: #131316;
  }
  iframe.goog-te-menu-frame{
    background-color: #131316 !important;
    margin-left: 15px !important;
    box-shadow: none !important;
    border: none !important
  } 


  
