@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
	--white: #ffffff;
    --negro: black;
    --red: #27ed0d;
    --verde: rgb(17, 205, 17);
    --font: 'Poppins', sans-serif;
    --grisn: #1c1c1c;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
  outline: none;
  text-decoration: none;

}

a{
  text-decoration: none;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}


@media (max-width: 1080px){
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
}
.navegacion{
    z-index: 4;
}
.bienvenido{
  color: #000000;
  text-overflow: initial;
  font-size: 1.3rem;
  
}
@media (max-width:428px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: 1rem;
  }
}


@media (max-width:424px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: -1rem;
  }
}

@media (max-width:380px){
  .bienvenido{
    font-size: 1rem;
    text-align: center;
    margin-left: 0.5rem;
  }
}


header {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 5px 10px 18px #0a0a0a;
    position: fixed;
    width: 100%;
    background: #fff;
  }
  
  .logo {
    cursor: pointer;
    transition: all 0.3s;
  }

  .logotipo{
    height: 100px;
    width: auto;
  }
  
  @media (max-width: 480px){
    .logotipo{
      height: 90px;
    }
     
  
      }

      @media (max-width: 414px){
        .logotipo{
          height: 90px;
          margin-left: -15%;
        }
         
        .logo:hover{
          transform: none;
        }
      
        
    
      }

  @media (max-width: 375px){
    .logotipo{
      height: 80px;
      margin-left: -2rem;
    }
     
    .logo:hover{
      transform: none;
    }
  
  }
  
 
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: var(--font);
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    color: var(--negro);
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
    font-size: 26px;
    color: var(--negro);
  }
  
  .nav__links li a:hover {
    color: var(--red);
  }
  
  .cta {
    padding: 5px 19px;
    background-color: var(--red);
    border: none;
    border-radius: 50px;
    cursor: pointer;  
    font-size: 22px;
    transition: all 0.3s;
    margin-left: 2rem;
    color: var(--negro);
  }
  
  .cta:hover {
    background-color: var(--verde);
    color: var(--negro);
   /*  transform: scale(1.2);*/
  }
  
/* iconos menu*/
.carretilla{

		width: 30px;
		height: 40px;

}

.cotizacion{

		width: 30px;
		height: 40px;
		
}

  /* responsive nav */
  
  .menu {
    display: none;
    color: currentColor;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;

    left: 0;
    top: 0;
    background-color: var(--grisn);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
    color: currentColor;
    z-index: 4;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    text-transform: capitalize;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
    color: var(--white);
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: var(--red);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
    text-decoration: none;
  }

  .icono{
      font-weight: bold;
      font-size: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
 
 
/* footer */
.pie-pagina{
  width: 100%;
  background-color: #232f3a;
  margin-top: -2%;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  z-index: 1;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 300px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 0.9rem;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
  margin-left: 0.9rem;
}

.pie-pagina .grupo-1 .box button{
margin-bottom: 10px;
margin-left: 0.9rem;
background: #314258;
cursor: pointer;
border: none;
height: 2rem;
width: 10rem;
border-radius: 10px;
}

.pie-pagina .grupo-1 .box button a{
  color: var(--white);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button a:hover{
  color: var(--negro);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button:hover{
background: var(--white);
color: var(--negro);
}

.pie-pagina .grupo-1 .contactos a{
   display: inline-block; /* agrega un salto de linea */
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 2.8rem;
  margin-right: 2px;
  background-color: #314258;
  text-align: center;
  border-radius: 10%; 
  transition: all 300ms ease; /* efecto al pasar el mouse en el boton*/
  margin-left: 0.9rem;
}



.facebook{
color: var(--white);
}

.facebook:hover{
color: rgb(38, 141, 231);
}

.instagram{
color: var(--white);
}

.instagram:hover{
color: orangered;
}

.twitter{
color: var(--white);
}

.twitter:hover{
color: rgb(30, 152, 228);
}

.mail{
color: var(--white);
}

.mail:hover{
color: orange;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
  
  .pie-pagina{
    margin-top: 10%;
  }
}


  /*Tabla de información*/
.description{
  float: right;
  width: 700px;
  height: 600px;
}
/*Encabezado de tabla*/
.DivInformacion{
    margin-top: 25px;
    min-height: 400px;
    min-width: 600px;
    width: auto;
    height: auto;
    border-radius: 30px;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  .CabezaInfo{
    margin-top: 1%;
    margin-left: 1.5%;
    height: 50px;
    width: 98%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    display: flex;
  }
  .IconosInfo{
    height: 25px;
    width: 25px;
    margin: 10px;
  }
  .IconoSeparacion{
    border-style: hidden;
    background-color:  rgba(155, 155, 155, 0.3);
    margin-left: 3px;
    margin-top: 1.7%;
    height: 30px;
    width: 1px;
  }
  .letrasInfo{
    margin-top: 2%;
    margin-left: 3%;
  }
  .CircularIcBtn{
    cursor: pointer;
    margin-top: 1%;
    margin-left: 60%;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgba(155, 155, 155, 0.3);
  }
  .CircularIcBtn1{
    cursor: pointer;
    margin-top: 1%;
    margin-left: 70%;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgba(155, 155, 155, 0.3);
  }
  .InfoFlechas{
    margin-top: 15%;
    height: 20px;
    width: 20px;
  }
  .InfoFlechas1{
    margin-top: 17%;
    height: 20px;
    width: 20px;
  }
  /*Cuerpo de tabla*/
  .CuerpoInfo{
    margin-top: 40px;
    position: absolute;
    width: 98%;
    height: 290px;
    margin-left: 1.5%;
  }
  .CuerpoInfoSeparador{
    border-style: hidden;
    background-color:  rgba(155, 155, 155, 0.3);
    width: 85%;
    height: 2px;
    margin-left: 10%;
    margin-top: 3%;
  }
  .IconosCuerpo{
    height: 30px;
    width: 30px;
  }
  .textoInfo{
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    max-width: 90%;
  }
  .UbicacionesInfo{
    width: 90%;
    height: 170px;
    margin-left: 5%;
  }
  .InfoUbicacion{
    display: flex;
    margin-top: 3%;
  }
  .listaInfo1{
    height: auto;
    width: auto;
    margin-top: 3%;
  }
  /*Pie de tabla*/
  .PieInfo{
    margin-top: 345px;
    margin-left: 1.5%;
    height: 50px;
    width: 98%;
    position: absolute;
    display: flex;
  }
/*Precio Y Carro*/
/*Precio*/
.PrecioD{
  width: 175px;
  height: 65px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
}
.PrecioNumero{
  text-align: center;
  padding-top: 7%;
}
/*Agregar a corrito---------------------------------*/
.agregar-carrito p{
  margin-left: 14%;
  font-size: 21px;
  position: relative;
  margin-top: 5%;
}


.agregar-carrito{
  display: inline-block;
  width: 300px;
  height: 65px;
  color: white;
  text-decoration: none;
  background-color: red;
  border-radius: 20px;
  transition: ease 1s;
  margin-left: 30px;
  margin-top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.agregar-carrito:hover{
  color: black;
  background-color: var(--verde);
  border-radius: 20px;
}
.PrecioYCarro{
  display: flex;
  margin-top: 50px;
}

/*Responsive*/
/*@media (max-width: 1280px){
.container {
    max-width: 1260px;
}
}
*/
/*
@media (min-width: 992px){
.container {
    max-width: 100%;
}
}

@media (min-width: 768px){
.container {
    max-width: 100%;
}
}

@media (min-width: 576px){
.container {
    max-width: 100%;
}
}
*/

nav {
    display: block;
}

dl, ol, ul {
    margin-top: 0;
}

.mt-n1, .my-n1 {
    margin-top: -0.25rem!important;
}

.mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}

.breadcrumb-item {
    font-size: .875rem;
    font-weight: 600;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.breadcrumb-item>a {
    color: rgba(0,0,0,.65);
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out;
}

a, a:hover {
    color: black;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:-webkit-any-link {

    cursor: pointer;
}

.breadcrumb-item {
    font-size: .875rem;
    font-weight: 600;
}

li {
    text-align: -webkit-match-parent;
}
.breadcrumb {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0.25rem;
    padding: 0;
}

ol {
    list-style-type: decimal;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.breadcrumb-item+.breadcrumb-item:hover:before {
    text-decoration: underline;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    color: #c5c5c5;
    content: "/";
    display: inline-block;
    padding-right: 0.5rem;
}
/*Titulo de la página*/
.container1{
 
  height: 60px;
  width: 100%;
  text-align: center;
}
/*.page-title{
  margin-top: 5%;
}*/
.contenedor{
  max-width: 5%;
  height: 600px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 50px;
  margin-left: -5%;
}
/*Contenerdor funcional*/
/*Imagen cambiante*/
.contenerdor .img_container{
    width: 40px;
    height: 350px;
    margin-bottom: 90px;
    margin-left: 20%;
    
    margin-top: 1%;
}

.contenedor .img_container .main_img{
  height: 30rem;  
  margin-left: 300%;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 50%;
}
/*Imgenes para cambiar*/
.contenedor .thumbnail_container{
    height: 95px;
    justify-content: space-between;
    margin-top: 15%;
    margin-left: 28%;
}

.contenedor .thumbnail_container .thumbnail{
    width: 100px;
    height: 80px;
    cursor: pointer;
    object-fit: cover;
    opacity: .4;
    transition: 0.3s;
}

.contenedor .thumbnail_container .thumbnail:hover{
    opacity: 1;
}

.active{
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

/* footer */
.pie-pagina{
  width: 100%;
  background-color: #232f3a;
  margin-top: 10%;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  z-index: 1;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 300px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 0.9rem;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
  margin-left: 0.9rem;
}

.pie-pagina .grupo-1 .box button{
margin-bottom: 10px;
margin-left: 0.9rem;
background: #314258;
cursor: pointer;
border: none;
height: 2rem;
width: 10rem;
border-radius: 10px;
}

.pie-pagina .grupo-1 .box button a{
  color: var(--white);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button a:hover{
  color: var(--negro);
  text-decoration: none;
}

.pie-pagina .grupo-1 .box button:hover{
background: var(--white);
color: var(--negro);
}

.pie-pagina .grupo-1 .contactos a{
  display: inline-block; /* agrega un salto de linea */
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 2.8rem;
  margin-right: 2px;
  background-color: #314258;
  text-align: center;
  border-radius: 10%; 
  transition: all 300ms ease; /* efecto al pasar el mouse en el boton*/
  margin-left: 0.9rem;
}

.facebook{
color: var(--white);
}

.facebook:hover{
color: rgb(38, 141, 231);
}

.instagram{
color: var(--white);
}

.instagram:hover{
color: orangered;
}

.twitter{
color: var(--white);
}

.twitter:hover{
color: rgb(30, 152, 228);
}

.mail{
color: var(--white);
}

.mail:hover{
color: orange;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
  
  .pie-pagina{
    margin-top: 10%;
  }
}

body{
  top: 0 !important;
}
.google{
  margin-left: 70%;
  margin-top: -2%;
}

@media (max-width:480px){
  .google{
    margin-top: 5%;
    margin-left: 7%;
  }
}

.goog-te-banner-frame{
  display: none;
}
.goog-te-gadget-simple{
  background-color: #314258 !important;
  color: white !important;
 border: none !important;
  padding: 10px !important;
}
.goog-te-gadget-icon{
  display: none;
}

.goog-te-gadget-simple span{
  color: white !important;
}
#li-translate::marker{
  color: #131316;
}
iframe.goog-te-menu-frame{
  background-color: #131316 !important;
  margin-left: 15px !important;
  box-shadow: none !important;
  border: none !important
} 

.boton-add{
  margin-left: -50%;
  margin-top: 15%;
  width: 30rem;
  height: 3rem;
  text-transform: capitalize;
}

.cate{
  margin-top: 30%;
}