*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75)),url("../img/registro-img.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-form{
    text-align: center;
    font-size: 30px;
}

.form-register{
	width: 450px;
    background: #000000 ;
	border-radius: 10%;
    padding: 30px;
    margin: auto;
    margin-top: 6%;
    border-radius: 10px;
    font-family: var(--font);
    color: white;
    box-shadow: 7px 13px 37px #000;
	border: 1px solid;
	border-color:  #05ba7e;
	box-shadow: 0 0 10px  #05ba7e , 0 0 40px  #05ba7e , 0 0 80px  #05ba7e ;
    
}

.form-register h5{
	font-size: 40px;
	margin-bottom: 30px;
	color:   #0e5f3e;
	margin: center;
	text-align: center;
}


.controls{
	width: 100%;
	background: #000000;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid  #0e5f3e ;
	font-family: 'poppins';
	font-size: 18px;
	color: white;
	margin-top: 3%;
}

/*Efecto boton*/

input[type="text"],
input[type="password"],
input[type="email"]{
    right: 20px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom:  #05ba7e  solid;
    background-color: #000;
    color: white;
}
input:focus{
    outline: none;
    
}



.form-register p{
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	padding: 4px;
}

.form-register a{
	color: #05ba7e;
	text-decoration: none;

}


.form-register a:hover{
	text-decoration: underline;
	
}

button{
    cursor: pointer;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    outline: none;
    background: #000000;
    border: none;
}

.btn-neon a{
    color: #fff;
}
.btn-neon:hover{
    background: #000000;
    box-shadow: 0 0 10px  #0e5f3e , 0 0 40px  #0e5f3e , 0 0 80px  #0e5f3e ;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,  #0e5f3e );
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent  #0e5f3e );
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #0e5f3e );
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #0e5f3e );
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.logo{
    width:350px;
    height:145px;
}


/* Codigo Responsive */
@media (width: 1024px){
    .form-register{
        width: 40%;
        height: 45rem;
        margin-top: 2%;
    }

    .logo{
        width: 300px;
    }
}
@media (max-width: 1180px){
    .form-register{
        width: 40%;
        height: 45rem;
        margin-top: 4%;
    }

    .logo{
        width: 300px;
    }
}

@media (width: 428px){
    .form-register{
        width: 100%;
        height: 42rem;
        margin-top: 31%;
    }

    .logo{
        width: 300px;
    }
}

@media (width: 412px){
    .form-register{
        width: 100%;
        height: 59rem;
        margin-top: 23%;
    }
}

@media (width: 403px){
    .form-register{
        width: 100%;
        height: 43rem;
        margin-top: 16%;
    }
}

@media (max-width: 414px){
    .form-register{
        width: 100%;
        height: 53rem;
        margin-top: 20%;
    }

    .logo{
        width: 300px;
    }
}

@media (max-width: 412px){
    .form-register{
        width: 100%;
        height: 53rem;
        margin-top: 20%;
    }

    .logo{
        width: 300px;
    }
}

@media (width: 390px){
    .form-register{
        width: 100%;
        height: 53rem;
        margin-top: 25%;
    }

    .logo{
        width: 300px;
        margin-left: -8%;
    }
}

@media (width: 393px){
    .form-register{
        width: 100%;
        height: 53rem;
        margin-top: 25%;
    }

    .logo{
        width: 300px;
        margin-left: -8%;
    }
}

@media (width: 384px){
    .form-register{
        width: 100%;
        height: 45rem;
        margin-top: 25%;
    }

    .logo{
        width: 300px;
        margin-left: -8%;
    }
}

@media (width: 375px){
    .form-register{
        width: 100%;
        height: 52rem;
        margin-top: 3%;
    }

    .logo{
        width: 290px;
        margin-left: -8%;
    }
}

@media (width: 360px){
    .form-register{
        width: 100%;
        height: 52rem;
        margin-top: 1%;
    }

    .logo{
        width: 330px;
        margin-left: -8%;
    }
}




body{
    top: 0 !important;
  }
  .google{
    /* margin-left: 70%; */
    margin-top: -2.5%;
  }
  
  @media (max-width:480px){
    .google{
      margin-top: 1%;
     /* margin-left: 7%; */
    }
  }
  
  .goog-te-banner-frame{
    display: none;
  }
  .goog-te-gadget-simple{
    background-color: #30303a !important;
    color: white !important;
   border: none !important;
    padding: 10px !important;
  }
  .goog-te-gadget-icon{
    display: none;
  }
  
  .goog-te-gadget-simple span{
    color: white !important;
  }
  #li-translate::marker{
    color: #131316;
  }
  iframe.goog-te-menu-frame{
    background-color: #131316 !important;
    margin-left: 15px !important;
    box-shadow: none !important;
    border: none !important
  } 
  