@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --white: #ffffff;
    --negro: black;
    --red: #de1313;
    --verde: rgb(17, 205, 17);
    --font: 'Poppins', sans-serif;
    --grisn: #1c1c1c;
}

*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
  outline: none;
  text-decoration: none;
}

a{
    text-decoration: none;
    
  }
  
  html, body{
    max-width: 100%;
    overflow-x: hidden;
  }

table{
    margin-top: 5%;
    max-width: 80%;
}

thead{
    background-color: black;
    color: #ffffff;
}

.btn{
    margin: 3%;
}

.title{
    margin-top: 5%;
    text-align: center;
}

@media (max-width: 1080px){
    body{
      max-width: 100%;
      overflow-x: hidden;
    }
  }
  .navegacion{
      z-index: 4;
  }
  .bienvenido{
    color: black;
    text-overflow: initial;
    font-size: 1.3rem;
    
  }
  @media (max-width:428px){
    .bienvenido{
      font-size: 1rem;
      text-align: center;
      margin-left: 1rem;
    }
  }
  
  
  @media (max-width:424px){
    .bienvenido{
      font-size: 1rem;
      text-align: center;
      margin-left: -1rem;
    }
  }
  
  @media (max-width:380px){
    .bienvenido{
      font-size: 1rem;
      text-align: center;
      margin-left: 0.5rem;
    }
  }
  
  
  header {
      z-index: 4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10%;
      box-shadow: 5px 10px 18px #0a0a0a;
      position: fixed;
      width: 100%;
      background: #fff;
    }
    
    .logo {
      cursor: pointer;
      transition: all 0.3s;
    }
  
    .logotipo{
      height: 100px;
      width: auto;
    }
    
    @media (max-width: 480px){
      .logotipo{
        height: 90px;
      }
       
    
        }
  
        @media (max-width: 414px){
          .logotipo{
            height: 90px;
            margin-left: -15%;
          }
           
          .logo:hover{
            transform: none;
          }
        
          
      
        }
  
    @media (max-width: 375px){
      .logotipo{
        height: 80px;
        margin-left: -2rem;
      }
       
      .logo:hover{
        transform: none;
      }
    
    }
    
   
    .nav__links a,
    .cta,
    .overlay__content a {
      font-family: var(--font);
      font-weight: 500;
      text-decoration: none;
      
    }
    
    .nav__links {
      list-style: none;
      display: flex;
      color: var(--negro);
    }
    
    .nav__links li {
      padding: 0px 20px;
    }
    
    .nav__links li a {
      transition: color 0.3s ease 0s;
      font-size: 26px;
      color: var(--negro);
    }
    
    .nav__links li a:hover {
      color: var(--red);
    }
    
    .cta {
      padding: 5px 19px;
      background-color: var(--red);
      border: none;
      border-radius: 50px;
      cursor: pointer;  
      font-size: 22px;
      transition: all 0.3s;
      margin-left: 2rem;
      color: var(--negro);
    }
    
    .cta:hover {
      background-color: var(--verde);
      color: var(--negro);
     /*  transform: scale(1.2);*/
    }
    
  /* iconos menu*/
  .carretilla{
  
          width: 30px;
          height: 40px;
  
  }
  
  .cotizacion{
  
          width: 30px;
          height: 40px;
          
  }
  
    /* responsive nav */
    
    .menu {
      display: none;
      color: currentColor;
    }
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
  
      left: 0;
      top: 0;
      background-color: var(--grisn);
      overflow-x: hidden;
      transition: width 0.5s ease 0s;
      color: currentColor;
      z-index: 4;
    }
    
    .overlay--active {
      width: 100%;
    }
    
    .overlay__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 4;
    }
    
    .overlay a {
      padding: 15px;
      font-size: 36px;
      display: block;
      transition: color 0.3s ease 0s;
      color: var(--white);
    }
    
    .overlay a:hover,
    .overlay a:focus {
      color: var(--red);
    }
    .overlay .close {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      color: #edf0f1;
      cursor: pointer;
      text-decoration: none;
    }
  
    .icono{
        font-weight: bold;
        font-size: 20px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay a {
        font-size: 20px;
      }
      .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
    
    @media only screen and (max-width: 800px) {
      .nav__links,
      .cta {
        display: none;
      }
      .menu {
        display: initial;
      }
    }
    
    .goog-te-banner-frame{
      display: none;
    }
    .goog-te-gadget-simple{
      background-color: #314258 !important;
      color: white !important;
     border: none !important;
      padding: 10px !important;
    }
    .goog-te-gadget-icon{
      display: none;
    }
    
    .goog-te-gadget-simple span{
      color: white !important;
    }
    #li-translate::marker{
      color: #131316;
    }
    iframe.goog-te-menu-frame{
      background-color: #131316 !important;
      margin-left: 15px !important;
      box-shadow: none !important;
      border: none !important
    } 

    
body{
  top: 0 !important;
}